.ep-slideshow {
	margin: 0;
	padding: 0;
	list-style: none;
}

.epslideshow-wrapper {
	
}

.ep-slideshow li {
	margin: 0;
	color: #aaa;
	font-size: 12px;
	position: relative;
	
}

.ep-slideshow img {
	display: block;
}

.ep-slideshow-caption {
	font-size: 11px;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	width: 94%;
	height: auto;
	padding: 10px 3% 0;
}

.epslideshow-pager {
	text-align: center;
	color: #000;
}

.epslideshow-pager .next,
.epslideshow-pager .prev {
}

.epslideshow-current {
}

.epslideshow-pager .prev {
}

.epslideshow-pager .prev:hover {
}

.epslideshow-pager .next {
}

.epslideshow-pager .next:hover {
}

.cycle-nav {
	text-align: center;
}

.cycle-nav div {
	display: inline;
}

.cycle-pager {
	cursor: pointer;
}

.cycle-pager-active {
}